body {
  color: white;
  background-color: #303B7C;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

header img {
  margin: 0%;
  margin-top: -33px;
  margin-bottom: -30px;
  margin-left: -10px;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.main {
  position: relative;
}

.texto {
  align-content: flex-end;
  position: absolute;
  top: 33%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 43px;
}

.melhor {
  font-size: 41px;
  margin-bottom: 2%;
}

.escola {
  color: #303B7C;
  margin: 0%;
}

.cabo {
  margin: 0%;
}

.line123 {
  font-size: 20px;
  display: flex;
  justify-content: start;
  list-style-type: none;
  padding-inline-start: 0%;
}

.logo{
  margin-right: 31%;
  margin-left: 2%;
  margin-top: -15px;
}

.line1{
  cursor: pointer;
  margin-right: 32px;
  margin-top: 28px;
  font-size: 23px;
}

.line2{
  cursor: pointer;
  margin-right: 32px;
  margin-top: 28px;
  font-size: 23px;
}

.line3{
  cursor: pointer;
  margin-right: 32px;
  margin-top: 28px;
  font-size: 23px;
}

.search {
  display: flex;
  justify-content: end;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 27px;
  border: 7px solid white;
  border-radius: 40%;
  cursor: pointer;
  background-color: white;
}



